{% extends 'base.html' %}
{% block title%}Delete Blog Post{% endblock %}

{% block content %}

{% if user.is_authenticated  %}
    {% if user.id == post.the_author.id %}
        <h1>Delete Post</h1>
        <br/><br/>
        <h3>Delete: {{ post.title }}</h3>

        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-success">Delete Post</button>
        </div>
    {% else %}
        Access Denied
    {% endif %}
{% else %}
Access Denied
{% endif%}

{% endblock %}